html {
  box-sizing: border-box;
}
*, *:after, *:before {
  box-sizing: inherit;
}
body {
  font-family: arial, sans-serif;
  color: #282828;
  font-size: 14px;
  padding: 60px;
}
a, a.active {
  color: inherit;
  text-decoration: none;
}
.content-train {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  height: 420px; 
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1472615/BlueMountainMysterySodormap.png') no-repeat ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;fixed;
	text-align: center;
	font-family: 'Acme', sans-serif;
  overflow: hidden;
}
.train {
  position: absolute;
  left: 50%;
  margin-left: -185px;
  bottom: 40px;
  width: 370px;
  height: 178px;
  z-index: 0;
  animation: train 8s linear infinite;
}

.train:after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 10px;
  left: -5%;
  border-radius: 50%;
  width: 110%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
.rims-wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}
.rims {
  height: 50px;
  width: 50px;
  border: 3px solid #232020;
  position: absolute;
  border-radius: 50%;
  animation: rims 0.6s linear infinite;
}
.rims:after {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 3px solid #353334;
  position: absolute;
  border-radius: inherit;
}
.center-rims {
  height: 16px;
  width: 16px;
  background: #353334;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -8px;
  margin-top: -8px;
}
.center-rims:after {
  transform: rotate(45deg);
}
.center-rims:before {
  transform: rotate(60deg);
}
.rays, .center-rims:after, .center-rims:before {
  height: 100%;
  width: 2px;
  background: #353334;
  position: absolute;
  left: 50%;
  margin-left: -1px;
}
.rays:nth-child(1), .center-rims:after:nth-child(1), .center-rims:before:nth-child(1) {
  transform: rotate(45deg);
}
.rays:nth-child(2), .center-rims:after:nth-child(2), .center-rims:before:nth-child(2) {
  transform: rotate(90deg);
}
.rays:nth-child(3), .center-rims:after:nth-child(3), .center-rims:before:nth-child(3) {
  transform: rotate(135deg);
}
.rays:nth-child(4), .center-rims:after:nth-child(4), .center-rims:before:nth-child(4) {
  transform: rotate(180deg);
}
.rays:nth-child(5), .center-rims:after:nth-child(5), .center-rims:before:nth-child(5) {
  transform: rotate(225deg);
}
.front-st {
  left: 50px;
}
.front-nd {
  left: 140px;
}
.back-st {
  left: 215px;
}
.back-nd {
  left: 303px;
}
.wrap-rims-guide {
  position: absolute;
  height: 50px;
  width: 50px;
  left: 178px;
  top: 0;
  animation: wrap_rims_guide 0.6s linear infinite;
  z-index: 1;
}
.rims-guide {
  position: absolute;
  width: 258px;
  height: 4px;
  left: 50%;
  top: 0;
  margin-left: -129px;
  background: #949699;
  z-index: 1;
  border-radius: 10px;
  animation: rims_guide 0.6s linear infinite;
}
.point, .point-front-st, .point-front-nd, .point-back-st, .point-back-nd {
  height: 6px;
  width: 6px;
  position: absolute;
  top: -1px;
  background: #000;
  border: 2px solid #949699;
  z-index: 44;
  border-radius: 50%;
}
.point-front-st {
  left: 0;
}
.point-front-nd {
  left: 89px;
}
.point-back-st {
  left: 165px;
}
.point-back-nd {
  left: 251px;
}
.back-train {
  position: absolute;
  left: 206px;
  top: 78px;
  height: 66px;
  width: 153px;
  background: #cd801e;
  z-index: 2;
}
.back-train:before {
  content: "";
  top: -26px;
  height: 26px;
  background: #3b2d22;
  width: 114%;
  left: -7%;
  z-index: 2;
  display: block;
  position: absolute;
}
.front-train {
  position: absolute;
  left: 101px;
  top: 21px;
  height: 122px;
  width: 90px;
  background: #0a5c83;
  z-index: 2;
}
.front-train:before {
  content: "";
  top: -26px;
  height: 26px;
  background: #3b2d22;
  width: 114%;
  left: -7%;
  z-index: 2;
  display: block;
  position: absolute;
}

.front-side {
  position: absolute;
  left: -52px;
  bottom: 0;
  width: 52px;
  height: 70px;
  background: rgba(10,92,131,0.9);
  border-radius: 3px 0 0 3px;
}
.front-side:after {
  content: "";
  position: absolute;
  width: 22px;
  height: 34px;
  top: -34px;
  left: 50%;
  background: rgba(0,0,0,0.8);
  margin-left: -11px;
}
.front-side:before {
  content: "";
  position: absolute;
  width: 32px;
  height: 11px;
  top: -44px;
  left: 50%;
  background: #3b2d22;
  margin-left: -16px;
}
.light {
  position: absolute;
  top: 4px;
  left: -22px;
  width: 22px;
  height: 64px;
  background: 
#b0aeb3;
  border-radius: 66px 0 0 66px;
}
.light:after {
  content: "";  
  position: absolute;
  top: -20px;
  right: -94px;
  width: 4px;
  height: 25px;
  background: yellow;
}
.light:before {
  content: "";
  position: absolute;
  top: 150px;
  right: 4px;
  width: 44px;
  height: 10px;
  background: #aaa;
}
/* .bumper {
  position: absolute;
  top: 40px;
  left: -48px;
  height: 49px;
  width: 39px;
  overflow: hidden;
} */

.mudguard-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  z-index: 10;
}
.item-mudguard {
  position: absolute;
  top: -4px;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: rgba(237,90,77, 0.8);
  border-right-color: rgba(237,90,77, 0.8);
  transform: rotate(-45deg) translateX(-2px);
}
.item-mudguard:after {
  right: -6px;
  color: rgba(0, 0, 0, 0.8);
  top: 31px;
}
.item-mudguard:before {
  left: -4px;
  top: -4px;
}
.detail-mudguard, .item-mudguard:after, .item-mudguard:before {
  content: "";
  position: absolute;
  width: 2px;
  background: rgba(14,100,159, 0.8);
  transform: rotate(45deg);
}
@keyframes rims {
    from { transform: rotate(0); }
    to { transform: rotate(-360deg); }
}


@keyframes wrap_rims_guide {
    from { transform: rotate(0); }
    to { transform: rotate(-360deg); }
}

@keyframes rims_guide {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}
@keyframes train {
    0%{
        transform: translateX(1100px);
    }
    100%{
        transform: translateX(-1500px);
    }
}

